*{
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

.header{
  background-image: url(../Images/Rooms.jpeg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 730px;
  position: relative;
}

section::after{
  content:"";
  display: table;
  clear: both;
}

.navigation{
  width: 100%;
  height: 93px;
  display: flex;
  position: relative;
  background-color: #E8E0B8;
  color: #7d7d7d;
  font-size: 20px;
  justify-content: center;
  align-items: center;


}
.navigation input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: -2px;
  margin-right: 16px;
  font-size: 17px;
}


a{
  text-decoration:none;
  color: black;
}

.Search{
  display: flex;
  position: relative;
}

ul{
  display: flex;
  padding: 30px 0;
  list-style-type: none;
}

li{
  margin-right: 20px;
}


.row1_div1{
  margin-top: 0;
  font-size: 42px;
  color: #000;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1;
  padding: 70px 0;
}
p{
  font-family: Roboto,sans-serif;
  font-size: 14px;
  line-height: 1.628571429;
  color: #514f4d;
  font-weight: 500;
}

.room{
  width:635px;
  height:260px;
  position: relative;
  min-height: 1px;
  padding-left: 45px;
  padding-right: 15px;
  float:left;
}
.Stand{
  width:535px;
  height:180px;
  position: relative;
  min-height: 1px;
  padding-left: 45px;
  padding-right: 15px;

}
.superior{
  width:635px;
  height:260px;
  position: relative;
  min-height: 1px;
  padding-left: 45px;
  padding-right: 15px;
  float:right;
}
.super{
  width:535px;
  height:180px;
  position: relative;
  min-height: 1px;
  padding-left: 45px;
  padding-right: 15px;

}
.Bathrobe{
  width:635px;
  height:260px;
  position: relative;
  min-height: 1px;
  padding-left: 45px;
  padding-right: 15px;
  float:left;
}
.Juni{
  width:535px;
  height:180px;
  position: relative;
  min-height: 1px;
  padding-left: 45px;
  padding-right: 15px;

}

.row2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 20px 20px 20px;
}

.row2_div1{
  background-image: url(../Images/Junior_Suite.jpeg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 730px;
  position: relative;
}
.row2_div2{
  background-image: url(../Images/Meadow_Suite.jpeg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 730px;
  position: relative;
}
.row2_div3{
  background-image: url(../Images/White_Wall.jpeg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 730px;
  position: relative;
}
.row2 > div{
  height: 363px;
  width: 425px;
  margin-top:40px;
}
.Star{
  height: 463px;
  width: 720px;
  margin-top:40px;
  float:right;

}


.footer_1{
  padding: 55px 0 80px;
  background-color: #1c1c1c;
  width: 100%;
  height: 600px;
  position: relative;
  color: #7d7d7d;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
a1 {
  display: table;
  margin-left: 100px;
  color: white;
  font-family: Yeseva cursive;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
p3{
  margin-bottom: 20px;
  font-size: 13px;
  color: #ffffff;
  display: table;
  margin: 0 auto;
  font-family: Roboto cursive;
  font-size: 14px;
  line-height: 1.628571429;

}
.img1 {
  margin-left: 450px;
  margin-right: 300px;
  margin-top: -260px;
  width:500px;
  height: 500px;

}
.center{
  float:right;
  margin-top: -600px;
  width:400px;
  height: 400px;
}
